name: Events Practice

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

  issues:
    types: [opened]

  workflow_dispatch:

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Show event name
        run: echo "Triggered by ${{ github.event_name }}"

      - name: Show ref
        run: echo "Ref is ${{ github.ref }}"

      - name: Say hello
        run: echo "Hello from GitHub Actions!"
